{
    "plugins": [
        [
            "transform-runtime", {
                "helpers": false,
                "polyfill": true,
                "regenerator": true,
                "moduleName": "babel-runtime"
            }
        ],
        ["transform-regenerator", {
            "asyncGenerators": true,
            "generators": true,
            "async": true
            }
        ]
    ],
    "presets": [["es2015", {"loose": true, "modules": false}], "react", "stage-0"],
    "env": {
      "production": {
          "presets": ["react-optimize"]
      }
    }
}
